.place__delete-btn {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: opacity 1s ease;
}

.place__delete:hover {
  opacity: 0.5;
}