.popup__form {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .popup__form {
    max-width: 581px;
  }
}

@media screen and (max-width: 768px) {
  .popup__form {
    width: 282px;
  }
}